@use 'sass:color';

window#lock {
    background: transparent;

    .time {
        @include accs-button(true, true);

        border-radius: $button-radius;
        margin: $bar-spacing;
        padding: $padding * 0.4 $padding * 0.8;
        box-shadow: inset 0 0 0 $border-width $border-color;
        color: $primary-fg;
        background-color: $primary-bg;

        label {
            font-weight: bold;
        }

    }

    .power {
        @include accs-button(true, true);

        border-radius: $button-radius;
        margin: $bar-spacing;
        padding: $padding * 0.4 $padding * 0.8;
        box-shadow: inset 0 0 0 $border-width $border-color;
        color: $fg;
        background-color: $bg;

        image {
            color: transparentize($error-bg, 0.3);
        }

        &:hover image {
            color: transparentize($error-bg, 0.15);
        }

        &:active image {
            color: $primary-fg;
        }

        label {
            font-weight: bold;
        }

    }

    .lock-box {
        @include floating-widget;

        padding: 2em 1em 1em 1em;

        .lock-icon {
            font-size: 4em;
            margin-bottom: 1rem;
        }

        entry {
            @include button;
            caret-color: $fg;
            min-height: $radius * 3;
        }

    }
}
