window#lock {
    .background {
        background-image: url($wallpaper);
    }
    background: transparent;

    .lock-container {
        background-image: url($wallpaper);
    }
    .password {
        border-radius: $radius;
    }
}
