@mixin button-focus() {
}

@mixin button-hover() {
    background-color: #cdd6f4;
    color: #7f849c;
}

@mixin button-active() {
    @include button-hover();
}

@mixin button-disabled() {

}

@mixin button() {
    @include  unset();
    color: #cdd6f4;
    background-color: transparentize(#7f849c, 0.25);
    border-radius: 8px;
    min-width: 30px;
    min-height: 30px;
    font-size: 20px;
    margin: 5px 5px 0 5px;

    &:focus {
        @include button-focus;
    }

    &:hover {
        @include button-hover;
    }

    &:active, &.active {
        @include button-active;
    }

    &:disabled {
        @include button-disabled;
    }
}
