.client-title, .clock {
    color: #cdd6f4;
    font-size: 15px;
    font-family: "Mononoki Nerd Font";
    background-color: transparentize(#45475a, 0.25);
    border-radius: 8px;
    margin: 5px 5px 0 5px;
}

.workspaces button {
    @include button();
}

.tray button {
    @include button();
}


.battery-bar {
    @include unset(true);
    .font-icon { font-size: 1.15em; }

    levelbar trough {
        min-width: 5em;
        min-height: 0.5em;

        block.filled {
            border-radius: 8px;
        }

    }

    @mixin color($color) {
        image, label { color: $color }

        block.filled {
            background-image: linear-gradient(to right, $color, lighten($color, 6%));
        }
    }

    .medium { @include color(#f9e2af) }
    .low { @include color(#f38ba8) }
    .charging { @include color(#a6e3a1) }
    &:active { @include color(#cdd6f4) }

    .whole-button {
        label {
            color: #cdd6f4;
            text-shadow: 2px 2px 4px #1e1e2e;
        }

        trough, block.filled {
            border-radius: 8px;
        }
    }
}
